<h2>Edit account</h2>

<%= simple_form_for @user, url: account_path do |f| %>

	<%= f.input :name %>
	<%= f.input :email %>
	<%= f.input :username %>
	<%= f.input :avatar %>
	<%= f.input :bio %>

	<%= f.button :submit %>

<% end %>